$input-border-color: #D9D9D9;
$input-bg-color: #F3F3F3;


.variable-templates {
    label {
        display: block;
    }
}
.form-control {
    border-color: $border-color;
    font-weight: normal;
    -webkit-appearance: none;
    border-radius: $border-radius-lg;
    box-shadow: 0 2px 4px $shadow-color;

    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.15);
    }

    &.template {
        width: 80%;
        display: inline-block;
        margin-right: 10px;
    }
}

.form-control[type="text"] {
    height: 38px;
}

.form-content {
    padding: 1.2rem 0.5rem;
    margin-bottom: 0;

    label {
        color: rgba($text-color, 0.9);
        font-weight: 600;
    }
}

.required-field {
    label::after {
        content: '*';
        color: $danger;
        padding: 0.3rem;
        position: relative;
        top: 3px;
    }
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: $input-bg-color;
    opacity: 0.6;

    &.datetime {
        background-color: $white;
        opacity: 1;
    }
}

.input-group-addon {
    display: flex;
    justify-content: center;
    align-items: center;

    .has-error & {
        background: #fff;
    }
}

.has-error {
    .help-block {
        color: lighten($text-color, 25%);
        &.error-block {
            color:$state-danger-text;
        }
    }

}

.error-indicator {
    display: inline-block;
    margin-left: 0.5em;
    color: $danger;
    animation-name: section-error-indicator-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

    &.dismissed {
        animation-name: none;
        color: $gray;
    }

    .sidebar-list-item & {
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.mobile-error-indicator {
    @include media-breakpoint-down(md) {
        color: $danger;
    }
}

@keyframes section-error-indicator-anim {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.7);
    }
}

.input-checkbox {

    label {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: 2px;
        box-shadow: 0 1px 2px $shadow-color;
        cursor: pointer;
        transition: border-color 0.15s ease-in-out;
        position: relative;
        top: 6px;

        &:hover {
            border-color: $primary;
        }

        &::before {
            content: '\f00c';
            font-family: 'FontAwesome';
            position: absolute;
            color: $primary;
            top: 0;
            left: 2px;
            font-size: 10px;
            transform: scale(0);
            transform-origin: center;
            transition: all 0.1s ease-in-out;
        }
    }

    input[type=checkbox]:checked + label {
        border-color: $primary;
    }

    input[type=checkbox]:checked + label::before {
        transform: scale(1);
    }

    label:active {
        box-shadow: 0 1px 2px $shadow-color, inset 0 0 0 1px $primary;
    }
}

.dropdown-menu {
    border-color: $border-color;
    box-shadow: $shadow-dropdown;
    padding: 0.5em;
}

.dropdown-item {
    padding: 0.5rem 0.45rem;
    border-radius: 4px;

    &:hover {
        color: $primary;
        background-color: rgba($primary, 0.08);
    }

    &.active {
        background-color: $primary;
        color: $white;
    }
}

.dropdown-toggle,
.dropup .dropdown-toggle {
    &::after {
        content: '\f078';
        font-family: 'FontAwesome';
        font-size: 0.6rem;
        color: rgba($secondary, 0.5);
        position: relative;
        transform: rotate(0);
        transition: all 0.15s ease-in-out;
        border: 0;
        width: auto;
        height: auto;
    }

    &[aria-expanded="true"] {
        &::after {
            transform: rotate(-180deg);
        }
    }
}

.dropdown-menu.dropdown-menu-right {
    top: 10px !important;
    @include dropdown-arrow(top-right);
}

.dropup {
    .dropdown-toggle::after {
        transform: rotate(-180deg)
    }

    .dropdown-toggle[aria-expanded="true"] {
        &::after {
            transform: rotate(0);
        }
    }

    .dropdown-menu {
        top: -10px !important;
        @include dropdown-arrow(bottom-left);
    }
}

.dropdown-divider {
    border-top: 1px solid rgba($border-color, 0.5);
}

.help-popover-btn {
    display: inline-block;
    margin-top: 4px;
}

.checkbox {
    background-color: $white;
    padding: 0.5rem;

    label {
        margin-bottom: 0;
    }

    input {
        margin-right: 0.2rem;
    }
}

.modal {
    opacity: 1;

   // This is modal bg
   &:before {
     content: "";
     //display: none;
     background: rgba(0,0,0,.6);
     position: fixed;
     top: 0; left: 0; right: 0; bottom: 0;
     z-index: 10;
   }

   .modal-dialog {
       z-index: 10;
   }
}

/* Fix for a Bootstrap Modal bug.
https://weblog.west-wind.com/posts/2016/Sep/14/Bootstrap-Modal-Dialog-showing-under-Modal-Background#840688 */
.modal {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-backdrop {
  position: relative;
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0;
}


.modal-xl {
  @media (max-width: 767px) {
    max-width: none !important;
    width: 100% !important;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 0 20px 0 0;
    max-width: none !important;
    width: 100% !important;
  }
}

.modal-title {
  color: hsl(205, 100%, 21%);
}

.modal-body blockquote {
  border-left: 10px solid hsl(205, 84%, 74%);
  margin: 2em 30px;
  padding: 1em 20px;
  background-color: hsl(205, 79%, 92%);
  color: hsl(205, 87%, 29%);
}

.modal-body h3 {
  margin: 2.5em 0em 1.1em 2em;
  color: hsl(205, 100%, 21%);
  text-transform: capitalize;
}

.modal-body table {
  border-collapse: collapse;
  border: 2px solid hsl(205, 74%, 65%);
  font-family: sans-serif;
  margin-top: 1.5rem;
}

.modal-body td, th {
  padding: 8px 10px;
  color: hsl(205, 100%, 21%);
}

.modal-body th {
  text-align: center;
  background-color: hsl(205, 97%, 85%);
  border: 1px solid hsl(205, 74%, 65%)
}

.modal-body td {
  text-align: center;
  border: 1px solid hsl(205, 84%, 74%);
}

.modal-body tr:nth-child(even) td {
  background-color: hsl(210, 36%, 96%);
}

.modal-body tr:nth-child(odd) td {
  background-color: hsl(212, 33%, 89%);
}

.modal-body caption {
  padding: 10px;
  caption-side: top;
  color: hsl(205, 82%, 33%);
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

#guideModal-videosection {
  background-color: hsl(205, 79%, 92%);
}

#guide-button {
  opacity: 0.4;

  &:hover {
      color: $secondary !important;
  }
}


.template-modal-container {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    animation: fadeInAnim 0.6s;
    position: relative;
    top: 30%;

    @include media-breakpoint-down(sm) {
        border-radius: 4px;
        margin: 15px auto;
        height: 40%;
    }

    @include media-breakpoint-up(md) {
        overflow: auto;
        margin-top: 70px;
        width: 30%;
        margin: auto;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.template-modal-header {
    @include clearfix;
    padding: 15px;
    border-bottom: 1px solid $border-color;
    background: $gray-bg;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @include media-breakpoint-up(md) {
        padding: 15px 30px;
        z-index: 10;
        width: 30%;
        margin: auto;
        position: fixed;
        height: 70px;
    }

    .btn + .btn {
        margin-right: 5px;
    }

    .btn i {
        margin-right: 5px;
    }
    h2 {
        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

    }
    h4 {
        line-height: 38px;
        margin: 0;
        i {
            margin-right: 7px;
            line-height: inherit;
            color: $primary;
        }
    }
}
.template-form-wrapper {
    @include media-breakpoint-up(md) {
        padding-top:60px;
    }
    padding-left: 25px;
}

#save_template_name {
    margin: 10px;
    margin-top: 0px;
}
